#Add new api keys to github sectres then to ploomber json and yaml files
streamlit==1.40.0
langchain==0.3.4
langchain-anthropic==0.2.3
langchain-community==0.3.1
langchain-pinecone==0.2.0
langchain-voyageai==0.1.2
pymongo==4.10.1
langchain-openai
#langchain-exa
#langchain-core-0.3.19 langchain-openai-0.2.8